html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

/* Meros qilib olish */
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fff;
}

.site-header {

}

a {
  text-decoration: none;
  color: rgb(0, 204, 255);
}
.container {
  width: 100%;
  max-width: 1240px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header-wraper {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.site-header-logo-link {
  width: 150px;
  height: 30px;
  margin-right: 100px;
}

.site-header-logo-link:hover {
  opacity: 0.8;
}

.site-header-logo-link:active {
  opacity: 0.6;
}

.site-logo {
  max-width: 150px;
  height: 30px;
  padding: 0;
  margin: 0;
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 1;

}
.site-nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  text-transform: capitalize;
}
.site-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 237px;
}
.site-nav-list-item {
  padding: 0;
  margin: 0;
}

.site-nav-list-item:not(:last-child) {
  margin-right: 30px;
}

.site-nav-list-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  transition: 0.1s;
}
.site-nav-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  background-color: #e44c6d;
  border-radius: 10px;
}

.site-nav .site-nav-list-link:hover,
.site-nav .site-nav-link:hover {
  opacity: 0.8;
}

.site-nav .site-nav-list-link:hover {
  color: #1b7e5d;
  border-bottom: 2px solid #1b7e5d;
  padding-bottom: 3px;
}

.site-nav .site-nav-list-link:active,
.site-nav .site-nav-link:active {
  opacity: 0.6;
}

/* Sign form */
.main-content {
  background-image: url('../img/baground.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.sign {

}

.site-nav-list-regstration {
  margin: 0;
}

.site-nav-list-regstration .site-nav-list-link {
  color: #fff;
}
.regstration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 220px;
  padding-bottom: 250px;
}
.regstration-form-heading {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 800px;
  line-height: 48px;
  margin-bottom: 24px;
}
.regstration-form-title {
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 400px;
  line-height: 33px;
  margin-bottom: 40px;
}

.regstration-link {
 font-size: 18px;
 font-weight: 800px;
 line-height: 16px;
 padding: 24px 32px;
 text-decoration: none;
 color: #fff;
 background-color: #5200D9;
 border: 0;
 border-radius: 5px;
 margin-bottom: 12px;
}

.sign-wraper {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}
.sign-wraper-title {
  padding: 0;
  margin: 0;
}
.sign-wraper-title-item {
  padding: 0;
  margin: 0;
}
.sign-wraper-link {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}


/* Regstration form */
.sign-form {
  width: 100%;
  max-width: 640px;
  height: 100%;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.5);
}

.sign-logo {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 150px;
}
.regstration-form-group {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-heading {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}
.input-wraper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wraper:not(:last-child) {
  margin-bottom: 20px;
  margin-right: 20px;
}
.label-text {
  margin-bottom: 5px;
}
.input-text {
  display: block;
}

.input-group {
  display: flex;
}

.send-button {
  padding: 5px;
  margin: 0;
  margin-top: 20px;
  display: inline-block;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background-color:#5cd4ac;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}



.sign-in-form {
  width: 100%;
  max-width: 390px;
  height: 100%;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.5);
}

.sign-in-link {
  font-weight: 100;
  color: #222;
  opacity: 0.6;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  margin-left: 70px;
}

.form-heading-sign {
  margin-bottom: 30px;
  font-size: 20px;
}

.sign-logo-sign {
  margin-left: 80px;
  width: 200px;
  height: 35px;
  display: flex;
  justify-content:center ;
}



/* Modula one */


.module-one-wraper {
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;

}

.wraper-heading {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.module-list {
  width: auto;
  border: 1px solid #222;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content:space-around;
  list-style: none;
  overflow-x: scroll;
}
.li {
  padding: 0;
  margin: 0;
}
.module-heading {
  text-align: center;
  font-size: 12px;
  padding: 0;
  margin: 0;
  padding: 2px;
}

.lin {
  padding: 0;
  margin: 0;
  width: 1px;
  height: 82.24px;
  background-color: #222;
}



.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
}

.list-item:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
}

.table {
  border: 1px solid #e0e0e0;
}
.text {
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

.line {
  padding: 0;
  margin: 0;
  width: 1px;
  height: 82.24px;
  background-color: #222;
}

.table-item {
  border-right: 1px solid #e0e0e0;
}
.table-item:hover {
 background-color: #abe6d2;
}


.fildset {
  border: 0;
}
.wrap {
  margin-top: 50px;
}
.textaria {
  width: 800px;
  height: 200px;
}

.textaria {
  padding: 10px;
  margin-bottom: 20px;
}

.table-link {
  color: #fff;
  background-color: blue;
  padding: 10px 20px;
  margin-left: 14px;
  border-radius: 10px;
}


.wraper-ofer-1 {
  display: flex;
  margin-bottom: 30px;
}
.offer-input-wraper {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.offer-input-text {
  font-size: 16px;
  padding: 10px;
  margin-right: 20px;
  height: 40px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.offer-section {
  padding: 40px 0px 40px 40px;
  margin-top: 150px;
  margin-bottom: 150px;
  width: 1440px;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.ofer-input-wraper {
  display: flex;
}

.offer-input-text-2 {
  margin-left: 20px;
}

.dolya {
  width: 400px;
}

.request {
  color: #fff;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 10px;
}